workload-model=data/ApacheOFBizWorkload.xmi
structure-model=data/ApacheOFBizStructure.xmi
cost-model=data/AWSCostModel.xmi

db-instance-type=db.m4.large
db-instance-region=EU West (Ireland)
db-instance-tier=Oracle SE SingleAZ
db-instance-storage-type=Magnetic Storage
db-storage-tier=Internet
db-storage-region=Worldwide
db-instance-iops=100

migration-instance-type=dms.c4.large
migration-instance-region=EU West (Ireland)
migration-instance-tier=Oracle SE SingleAZ
migration-instance-iops=500

vpn-instance-type=m4.large
vpn-instance-region=EU West (Ireland)
vpn-instance-iops=500

setup-time=1.0
query-growth=

scaling-factor=0.0001
verbose-output=true
